Repository cookiecutter/cookiecutter-django, pull requests merged in 2019-03, with the labels that each got.

#1946 Update Gulp & other NPM dependencies
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/gulpfile.js
  {{cookiecutter.project_slug}}/package.json
Labels: needs further review

#1664 Remove project doc files likely to remain unused
  {{cookiecutter.project_slug}}/docs/deploy.rst
  {{cookiecutter.project_slug}}/docs/docker_ec2.rst
  {{cookiecutter.project_slug}}/docs/index.rst
  {{cookiecutter.project_slug}}/docs/install.rst
Labels: approved

#1957 Run Black on Travis
  .travis.yml
  hooks/post_gen_project.py
  hooks/pre_gen_project.py
  tests/test_cookiecutter_generation.py
  tests/test_docker.sh
  tox.ini
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/config/settings/local.py
  {{cookiecutter.project_slug}}/config/settings/production.py
  {{cookiecutter.project_slug}}/config/settings/test.py
  {{cookiecutter.project_slug}}/config/urls.py
  {{cookiecutter.project_slug}}/config/wsgi.py
  {{cookiecutter.project_slug}}/requirements/local.txt
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/taskapp/celery.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/adapters.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/forms.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/factories.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/test_forms.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/test_views.py
Labels: ready for review

#1820 Change sentry integration
  docs/settings.rst
  {{cookiecutter.project_slug}}/config/settings/production.py
  {{cookiecutter.project_slug}}/config/wsgi.py
  {{cookiecutter.project_slug}}/requirements/production.txt
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/taskapp/celery.py
Labels: ready for review

#1687 Add a node image to run Gulp when selecting it with Docker
  docs/deployment-with-docker.rst
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/compose/local/node/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
  {{cookiecutter.project_slug}}/gulpfile.js
  {{cookiecutter.project_slug}}/local.yml
  {{cookiecutter.project_slug}}/package.json
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
Labels: ready for review

#1996 Docs/heroku
  docs/deployment-on-heroku.rst
  docs/deployment-with-docker.rst
  docs/mailgun.rst
  docs/troubleshooting.rst
Labels: docs, ready for review
