Repository cookiecutter/cookiecutter-django, pull requests merged in 2020-07, with the labels that each got.

#2555 Add sphinx defaults for cookiecutter'd project
  docs/document.rst
  {{cookiecutter.project_slug}}/compose/local/docs/Dockerfile
  {{cookiecutter.project_slug}}/docs/Makefile
  {{cookiecutter.project_slug}}/docs/_source/howto.rst
  {{cookiecutter.project_slug}}/docs/_source/index.rst
  {{cookiecutter.project_slug}}/docs/_source/pycharm/configuration.rst
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/1.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/2.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/3.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/4.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/7.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/8.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/f1.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/f2.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/f3.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/f4.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/issue1.png
  {{cookiecutter.project_slug}}/docs/_source/pycharm/images/issue2.png
  {{cookiecutter.project_slug}}/docs/_source/users.rst
  {{cookiecutter.project_slug}}/docs/conf.py
  {{cookiecutter.project_slug}}/docs/make.bat
  {{cookiecutter.project_slug}}/local.yml
  {{cookiecutter.project_slug}}/requirements/local.txt
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/models.py
Labels: enhancement

#2583 Fix OfflineGenerationError with Heroku + Django Compressor
  .gitignore
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/bin/post_compile
Labels: bug

#2656 Update requirements in base.txt
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2643 Fix for gulp watching on windows
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/gulpfile.js
Labels: bug

#2683 Update requirements to include django-cors-headers with DRF [PR #2650]
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: enhancement

#2648 Add author name and description to HTML meta
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
Labels: enhancement

#2694 Be explicit in context processor
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/utils/context_processors.py
Labels: bug

#2699 Import base requirements without the leading dot
  {{cookiecutter.project_slug}}/requirements/local.txt
  {{cookiecutter.project_slug}}/requirements/production.txt
Labels: bug
