Repository cookiecutter/cookiecutter-django, pull requests merged in 2020-08, with the labels that each got.

#2693 Fix version incompatibility between mypy and django-stubs
  tests/test_bare.sh
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: bug

#2721 Run isort as pre-commit hook
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Labels: enhancement

#2745 Add STATICFILES_STORAGE with compressor support
  {{cookiecutter.project_slug}}/config/settings/production.py
Labels: bug

#2750 Update linters.rst
  docs/linters.rst
Labels: docs

#2734 Auto generate list of contributors file
  .github/CONTRIBUTORS-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/contributors.json
  .github/workflows/update-contributors.yml
  .gitignore
  CONTRIBUTING.rst
  CONTRIBUTORS.md
  CONTRIBUTORS.rst
  requirements.txt
  scripts/__init__.py
  scripts/update_contributors.py
  tox.ini
Labels: project infrastructure
