Repository cookiecutter/cookiecutter-django, pull requests merged in 2020-09, with the labels that each got.

#2780 Exclude venv directory and update document link
  {{cookiecutter.project_slug}}/config/settings/production.py
  {{cookiecutter.project_slug}}/setup.cfg
Labels: enhancement

#2777 Add environment and traces_sample_rate keyword to sentry_sdk.init
  docs/settings.rst
  {{cookiecutter.project_slug}}/config/settings/production.py
Labels: enhancement

#2799 Fix options for sphinx-autobuild in docs Makefile
  {{cookiecutter.project_slug}}/docs/Makefile
Labels: bug

#2801 Traeffik and Django dockerfile changes
  CONTRIBUTORS.md
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/traefik/Dockerfile
Labels: enhancement

#2800 Clean up nested venv files from `.gitignore`
  .gitignore
  {{cookiecutter.project_slug}}/.gitignore
Labels: enhancement

#2814 Updating Traefik version from 2.0 to 2.2.11
  {{cookiecutter.project_slug}}/compose/production/traefik/Dockerfile
Labels: update

#2829 Downgrade Celery to 4.4.6
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: bug
