Repository cookiecutter/cookiecutter-django, pull requests merged in 2020-04, with the labels that each got.

#2506 Add uvicorn and web sockets for native Django 3
  README.rst
  cookiecutter.json
  docs/developing-locally.rst
  docs/project-generation-options.rst
  hooks/post_gen_project.py
  tests/test_cookiecutter_generation.py
  {{cookiecutter.project_slug}}/Procfile
  {{cookiecutter.project_slug}}/compose/local/django/start
  {{cookiecutter.project_slug}}/compose/production/django/start
  {{cookiecutter.project_slug}}/config/asgi.py
  {{cookiecutter.project_slug}}/config/urls.py
  {{cookiecutter.project_slug}}/config/websocket.py
  {{cookiecutter.project_slug}}/gulpfile.js
  {{cookiecutter.project_slug}}/requirements/base.txt
  {{cookiecutter.project_slug}}/requirements/production.txt
Labels: enhancement

#2539 Add Docker support to Travis and GitLab CI
  tests/test_cookiecutter_generation.py
  {{cookiecutter.project_slug}}/.gitlab-ci.yml
  {{cookiecutter.project_slug}}/.travis.yml
Labels: enhancement

#2544 Update flake8-isort to 3.0.0
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: update

#2524 Traefik - Also redirect www. to service.
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/compose/production/traefik/traefik.yml
Labels: enhancement

#2551 Update sphinx to 3.0.2
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: update

#2556 Update pre-commit to 2.3.0
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: update

#2547 Improve addition of www redirect to Traefik
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/compose/production/traefik/traefik.yml
Labels: bug

#2559 Update django-redis links
  {{cookiecutter.project_slug}}/config/settings/production.py
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: docs

#2561 Update pillow to 7.1.2
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2564 Update pytest-sugar to 0.9.3
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: update

#2568 Update pytz to 2020.1
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2563 Update sphinx to 3.0.3
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: update

#2545 Add `container_name` for docker commands locally
  CONTRIBUTORS.rst
  docs/developing-locally-docker.rst
  {{cookiecutter.project_slug}}/local.yml
Labels: docker, enhancement

#2487 Update pytest to 5.4.1
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: update

#2572 Fix reloading when using async
  {{cookiecutter.project_slug}}/compose/local/django/start
Labels: bug

#2574 Update uvicorn to 0.11.5
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2579 Update redis to 3.5.0
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2575 Add watchgod for uvicorn
  {{cookiecutter.project_slug}}/requirements/base.txt
  {{cookiecutter.project_slug}}/requirements/local.txt
  {{cookiecutter.project_slug}}/requirements/production.txt
Labels: enhancement
