Repository cookiecutter/cookiecutter-django, pull requests merged in 2020-06, with the labels that each got.

#2628 Update Django to 3.0.7 due to CVEs
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2629 Fixed local async command in docs
  docs/developing-locally.rst
Labels: docs

#2635 Replace User by get_user_model
  CONTRIBUTORS.rst
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/api/serializers.py
Labels: enhancement

#2610 Fix Docker configuration for Gitlab CI
  {{cookiecutter.project_slug}}/.gitlab-ci.yml
Labels: enhancement

#2600 Allow to use a CDN with S3
  docs/settings.rst
  {{cookiecutter.project_slug}}/config/settings/production.py
Labels: enhancement

#2636 Update base requirements to latest version
  {{cookiecutter.project_slug}}/requirements/base.txt
Labels: update

#2608 Add new websockets doc page
  docs/index.rst
  docs/websocket.rst
Labels: docs

#2645 Update ugettext_lazy to gettext_lazy
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/forms.py
Labels: enhancement
