Repository cookiecutter/cookiecutter-django, pull requests merged in 2021-12, with the labels that each got.

#3445 Removed mention of Foundation fork from readme
  README.rst
Labels: docs

#3436 Configure Dependabot for npm packages at the template level
  .github/dependabot.yml
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/package.json
Labels: project infrastructure

#3401 Add docker, pip and npm to GitHub's Dependabot
  {{cookiecutter.project_slug}}/.github/dependabot.yml
Labels: enhancement

#3452 Reword introduction in documentation
  docs/index.rst
  docs/project-generation-options.rst
Labels: docs

#3456 Fix carriage return in `.gitignore` on Windows
  .github/workflows/ci.yml
  hooks/post_gen_project.py
  tests/__init__.py
  tests/test_cookiecutter_generation.py
  tests/test_hooks.py
Labels: bug

#3461 Fix BrowserSync config on non-Docker setup
  {{cookiecutter.project_slug}}/gulpfile.js
Labels: bug

#3494 Fix missing psycopg2 dependency in docs Docker image
  {{cookiecutter.project_slug}}/compose/local/docs/Dockerfile
Labels: bug

#1914 Hides 'sign up' elements when ACCOUNT_ALLOW_REGISTRATION is disabled
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/account/login.html
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/context_processors.py
Labels: ready for review, enhancement
