Repository cookiecutter/cookiecutter-django, pull requests merged in 2021-08, with the labels that each got.

#3287 How to pre-commit in Docker Development
  docs/developing-locally-docker.rst
Labels: docs

#3290 Moved isort config from `.editorconfig` to `setup.cfg`
  {{cookiecutter.project_slug}}/.editorconfig
  {{cookiecutter.project_slug}}/setup.cfg
Labels: enhancement

#3291 Add missing step to getting started locally in docs
  docs/developing-locally.rst
Labels: docs

#3268 Add documentation for automating backups
  docs/docker-postgres-backups.rst
Labels: docs

#3293 Fix RTD build image to support Python 3.9
  {{cookiecutter.project_slug}}/.readthedocs.yml
Labels: bug
