Repository cookiecutter/cookiecutter-django, pull requests merged in 2021-06, with the labels that each got.

#3230 Update docs/howto.rst
  {{cookiecutter.project_slug}}/docs/howto.rst
Labels: docs

#3154 Add support for PG 13. Drop PG 9. Update all minor versions
  README.rst
  cookiecutter.json
  tests/test_cookiecutter_generation.py
Labels: enhancement

#3239 Wrap jQuery call in `DOMContentLoaded` event listener on account email page
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/account/email.html
Labels: bug

#3241 Fix Celery ports error on local Docker
  {{cookiecutter.project_slug}}/local.yml
Labels: bug
