Repository cookiecutter/cookiecutter-django, pull requests merged in 2021-11, with the labels that each got.

#3380 fix help in docs Makefile
  {{cookiecutter.project_slug}}/docs/Makefile
Labels: bug

#3276 Upgrade to Bootstrap 5
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/gulpfile.js
  {{cookiecutter.project_slug}}/package.json
  {{cookiecutter.project_slug}}/requirements/base.txt
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/account/email.html
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
Labels: update

#3399 Fix incorrect node version in `package.json`
  {{cookiecutter.project_slug}}/package.json
Labels: bug

#3405 Fix ungraceful Celery workers shutdown in container
  {{cookiecutter.project_slug}}/compose/production/django/celery/beat/start
  {{cookiecutter.project_slug}}/compose/production/django/celery/flower/start
  {{cookiecutter.project_slug}}/compose/production/django/celery/worker/start
Labels: bug

#3415 Switch template to calendar versioning & automate releases
  .github/changelog-template.md
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-changelog.yml
  requirements.txt
  scripts/update_changelog.py
  setup.py
Labels: project infrastructure

#3424 Update repos for pre-commit hooks
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Labels: bug

#3426 Bump pre-commit/action to 2.0.3
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
Labels: update

#3428 Bump Postgres to 13.5 12.9 11.14 10.19; add 14.1
  README.rst
  cookiecutter.json
  docs/project-generation-options.rst
  tests/test_cookiecutter_generation.py
Labels: update

#3042 Removed unnecessary custom context processor exposing the DEBUG Template Context Variable
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/utils/context_processors.py
Labels: removed

#3425 Upgrade to Django 3.2
  README.rst
  setup.py
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/requirements/base.txt
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/migrations/0001_initial.py
Labels: update, django3.2

#3432 Small formatting fixes to Deploy to PythonAnywhere page
  docs/deployment-on-pythonanywhere.rst
Labels: docs

#3434 Cache Python dependencies on our CI
  .github/workflows/ci.yml
Labels: project infrastructure

#3265 Make `django` depend on `redis` in local Docker
  {{cookiecutter.project_slug}}/local.yml
Labels: docker, enhancement

#3150 Add an assertion to fix mypy type error
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/views.py
Labels: enhancement

#3433 Setup pre-commit for the template files
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/conf.py
  docs/deployment-on-heroku.rst
  docs/developing-locally-docker.rst
  hooks/post_gen_project.py
  hooks/pre_gen_project.py
  scripts/__init__.py
  scripts/update_changelog.py
  setup.cfg
  setup.py
  tests/test_cookiecutter_generation.py
Labels: project infrastructure

#3435 Fix pre-commit config
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/Procfile
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/contrib/sites/migrations/0004_alter_options_ordering_domain.py
Labels: bug
