Repository cookiecutter/cookiecutter-django, pull requests merged in 2022-03, with the labels that each got.

#3621 Upgrade actions/setup-python to v3
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
Labels: update

#3625 Fix a few typos in the documentation
  {{cookiecutter.project_slug}}/README.md
  {{cookiecutter.project_slug}}/docs/howto.rst
Labels: docs

#3535 Unify compressor, gulp and custom bootstrap options
  .github/workflows/ci.yml
  README.md
  cookiecutter.json
  docs/deployment-on-heroku.rst
  docs/developing-locally.rst
  docs/project-generation-options.rst
  hooks/post_gen_project.py
  tests/test_cookiecutter_generation.py
  {{cookiecutter.project_slug}}/.github/dependabot.yml
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.idea/runConfigurations/docker_compose_up_django.xml
  {{cookiecutter.project_slug}}/.idea/{{cookiecutter.project_slug}}.iml
  {{cookiecutter.project_slug}}/README.md
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/django/start
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/config/settings/local.py
  {{cookiecutter.project_slug}}/config/settings/production.py
  {{cookiecutter.project_slug}}/gulpfile.js
  {{cookiecutter.project_slug}}/local.yml
  {{cookiecutter.project_slug}}/pytest.ini
  {{cookiecutter.project_slug}}/requirements/base.txt
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/static/sass/project.scss
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
Labels: enhancement
