Repository cookiecutter/cookiecutter-django, pull requests merged in 2022-01, with the labels that each got.

#3514 Double quote array expansions to avoid re-splitting elements
  tests/test_bare.sh
  tests/test_docker.sh
  {{cookiecutter.project_slug}}/.github/dependabot.yml
  {{cookiecutter.project_slug}}/.idea/{{cookiecutter.project_slug}}.iml
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
Labels: project infrastructure

#3513 Update references to Bootstrap from v4 to v5 in README
  {{cookiecutter.project_slug}}/README.md
Labels: docs

#3512 Update output example in README
  README.md
Labels: docs

#3519 Fix `open` option for `initBrowserSync` when using Docker
  {{cookiecutter.project_slug}}/gulpfile.js
Labels: bug

#3520 Fix cache dependency path for linter job in CI workflow
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
  {{cookiecutter.project_slug}}/compose/production/django/start
  {{cookiecutter.project_slug}}/config/settings/production.py
Labels: bug

#3515 Add UserSignupForm and UserSocialSignupForm
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/admin.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/forms.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/models.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/test_forms.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/test_views.py
Labels: enhancement

#3511 Fix out-of-sync sequence for Site ID
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/contrib/sites/migrations/0003_set_site_domain_and_name.py
Labels: bug

#3531 Fix high CPU usage when running `runserver_plus` in Docker
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: bug

#3544 mysql support link
  README.md
Labels: docs
