Repository cookiecutter/cookiecutter-django, pull requests merged in 2023-08, with the labels that each got.

#4450 Change how we remove prettier pre-commit hook from the config
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Labels: project infrastructure

#4507 Corrected 'or' translation to pt-br
  {{cookiecutter.project_slug}}/locale/pt_BR/LC_MESSAGES/django.po
Labels: bug

#4476 Exclude env files from container image (add .envs/ to .dockerignore)
  {{cookiecutter.project_slug}}/.dockerignore
Labels: bug

#4520 Remove unused gulp-concat when Webpack is selected
  hooks/post_gen_project.py
Labels: bug

#4525 Prevent error in data migration caused by long project name
  .github/workflows/ci.yml
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/contrib/sites/migrations/0003_set_site_domain_and_name.py
Labels: bug

#4460 Change `MEDIA_URL` to an absolute URL in tests
  {{cookiecutter.project_slug}}/config/settings/test.py
Labels: enhancement

#4454 Add French translations
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/locale/fr_FR/LC_MESSAGES/django.po
Labels: enhancement
