Repository cookiecutter/cookiecutter-django, pull requests merged in 2023-01, with the labels that each got.

#4069 Add .venv to exclude
  {{cookiecutter.project_slug}}/setup.cfg
Labels: bug

#4061 Update Celery instructions
  docs/developing-locally.rst
Labels: docs

#4089 Add sourcemaps support to Gulp
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/gulpfile.js
Labels: bug

#3623 Add Webpack support
  .github/workflows/ci.yml
  README.md
  cookiecutter.json
  docs/deployment-on-heroku.rst
  docs/deployment-with-docker.rst
  docs/developing-locally.rst
  docs/project-generation-options.rst
  docs/troubleshooting.rst
  hooks/post_gen_project.py
  tests/test_bare.sh
  tests/test_cookiecutter_generation.py
  tests/test_docker.sh
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.idea/runConfigurations/docker_compose_up_django.xml
  {{cookiecutter.project_slug}}/.idea/{{cookiecutter.project_slug}}.iml
  {{cookiecutter.project_slug}}/README.md
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
  {{cookiecutter.project_slug}}/config/settings/base.py
  {{cookiecutter.project_slug}}/config/settings/local.py
  {{cookiecutter.project_slug}}/gulpfile.js
  {{cookiecutter.project_slug}}/local.yml
  {{cookiecutter.project_slug}}/package.json
  {{cookiecutter.project_slug}}/production.yml
  {{cookiecutter.project_slug}}/requirements/base.txt
  {{cookiecutter.project_slug}}/webpack/common.config.js
  {{cookiecutter.project_slug}}/webpack/dev.config.js
  {{cookiecutter.project_slug}}/webpack/prod.config.js
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/static/js/project.js
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/static/js/vendors.js
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/static/sass/project.scss
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/base.html
Labels: enhancement
