Repository cookiecutter/cookiecutter-django, pull requests merged in 2023-03, with the labels that each got.

#2457 Add option to serve media files locally using nginx
  README.md
  docs/deployment-with-docker.rst
  docs/project-generation-options.rst
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/compose/production/nginx/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/nginx/default.conf
  {{cookiecutter.project_slug}}/compose/production/traefik/traefik.yml
  {{cookiecutter.project_slug}}/production.yml
Labels: enhancement

#4144 Include contributing page to the docs
  docs/conf.py
  docs/contributing.md
  docs/index.rst
  docs/requirements.txt
Labels: docs

#4163 Trim leading and trailing space in `domain_name` and `email`
  cookiecutter.json
  hooks/pre_gen_project.py
  tests/test_cookiecutter_generation.py
Labels: bug
