Repository cookiecutter/cookiecutter-django, pull requests merged in 2023-04, with the labels that each got.

#4244 Fix traefik rule priority for media router
  {{cookiecutter.project_slug}}/compose/production/traefik/traefik.yml
Labels: bug

#4274 Update contributing guide
  CONTRIBUTING.md
Labels: project infrastructure

#4275 Run template tests in parallel in pytest-xdist
  .github/workflows/ci.yml
  requirements.txt
  tox.ini
Labels: project infrastructure

#4279 Document how to add 3rd party packages with Docker
  docs/developing-locally-docker.rst
Labels: docs
