Repository cookiecutter/cookiecutter-django, pull requests merged in 2023-07, with the labels that each got.

#4441 [Issue #4442] Fixed bug with pycharm editor option in post_gen_project.py
  hooks/post_gen_project.py
Labels: bug

#4434 Add missing trailing space in EMAIL_SUBJECT_PREFIX
  {{cookiecutter.project_slug}}/config/settings/production.py
Labels: bug

#4436 Name shown twice in user_details.html if username set to email
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/users/user_detail.html
Labels: bug

#4413 Added webpack tip for port 3000 instead of 8000 in developing-locally…
  docs/developing-locally-docker.rst
  docs/developing-locally.rst
Labels: docs

#4429 Improve type hints for `UserSerializer`
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/api/serializers.py
Labels: enhancement

#4455 fix /tmp bind mount
  {{cookiecutter.project_slug}}/.devcontainer/devcontainer.json
Labels: bug

#4464 Display custom 403_csrf.html while getting a csrf error in prod
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/templates/403_csrf.html
Labels: bug

#4486 Add Webpack instructions for developping locally with HTTPS
  docs/developing-locally-docker.rst
Labels: docs

#4487 Explicitly state that docker exec does not work for running management commands
  docs/developing-locally-docker.rst
Labels: docs

#4382 Add support for drone.io (Fix #2082)
  cookiecutter.json
  docs/project-generation-options.rst
  hooks/post_gen_project.py
  tests/test_cookiecutter_generation.py
  {{cookiecutter.project_slug}}/.drone.yml
Labels: enhancement
