Repository cookiecutter/cookiecutter-django, pull requests merged in 2023-02, with the labels that each got.

#4130 Add note about which service to request when running locally with Docker & Webpack or Gulp
  docs/developing-locally-docker.rst
Labels: docs

#4125 Changelog: ignore some changes and add section for documentation changes
  scripts/update_changelog.py
Labels: project infrastructure

#4128 Fix django-webpack-loader setup when running tests
  {{cookiecutter.project_slug}}/config/settings/test.py
Labels: bug

#2630 Added AWS ECS Full Deployment Article to README
  README.md
Labels: docs

#4124 Update template docker images using Dependabot
  .github/dependabot.yml
Labels: project infrastructure

#4143 Replace linting job by pre-commit.ci
  .github/workflows/ci.yml
  README.md
Labels: project infrastructure

#4166 Disable caching for linter job on GitHub actions
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
Labels: bug

#4162 Add instuction to run celery beat
  {{cookiecutter.project_slug}}/README.md
Labels: docs
