Repository cookiecutter/cookiecutter-django, pull requests merged in 2024-05, with the labels that each got.

#5053 Fix nginx image name in production.yml
  {{cookiecutter.project_slug}}/production.yml
Labels: bug

#4995 Rename docker compose files to include 'docker-compose'
  docs/deployment-with-docker.rst
  docs/developing-locally-docker.rst
  docs/docker-postgres-backups.rst
  docs/document.rst
  docs/testing.rst
  docs/troubleshooting.rst
  hooks/post_gen_project.py
  tests/test_cookiecutter_generation.py
  tests/test_docker.sh
  {{cookiecutter.project_slug}}/.devcontainer/devcontainer.json
  {{cookiecutter.project_slug}}/.drone.yml
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
  {{cookiecutter.project_slug}}/.gitlab-ci.yml
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/compose/production/aws/maintenance/download
  {{cookiecutter.project_slug}}/compose/production/aws/maintenance/upload
  {{cookiecutter.project_slug}}/docker-compose.docs.yml
  {{cookiecutter.project_slug}}/docker-compose.local.yml
  {{cookiecutter.project_slug}}/docker-compose.production.yml
  {{cookiecutter.project_slug}}/docs/howto.rst
  {{cookiecutter.project_slug}}/docs/pycharm/configuration.rst
  {{cookiecutter.project_slug}}/locale/README.md
Labels: enhancement

#5057 Fix handling of staticfile settings if cloud provider and whitenoise are selected
  {{cookiecutter.project_slug}}/config/settings/production.py
Labels: bug

#5069 Disable DDT profiling panel
  {{cookiecutter.project_slug}}/config/settings/local.py
Labels: bug

#5073 Update Two scoops of Django book link & image
  README.md
  docs/faq.rst
Labels: docs

#5078 Fix redirect error when forcing allauth login in admin site
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/admin.py
Labels: bug

#5080 Fix PyCharm Run Configurations After local.yml Rename
  {{cookiecutter.project_slug}}/.idea/runConfigurations/docker_compose_up_django.xml
  {{cookiecutter.project_slug}}/.idea/runConfigurations/docker_compose_up_docs.xml
Labels: bug

#5094 Rename SendInBlue ESP to Brevo
  README.md
  cookiecutter.json
  docs/project-generation-options.rst
  docs/settings.rst
  tests/test_cookiecutter_generation.py
  {{cookiecutter.project_slug}}/.envs/.production/.django
  {{cookiecutter.project_slug}}/config/settings/production.py
  {{cookiecutter.project_slug}}/requirements/production.txt
Labels: enhancement
