Repository cookiecutter/cookiecutter-django, pull requests merged in 2024-02, with the labels that each got.

#4887 Install ruff extension in devcontainer.json
  {{cookiecutter.project_slug}}/.devcontainer/devcontainer.json
Labels: enhancement

#4883 Switch to local imports within app
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/admin.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/forms.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/managers.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/models.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tasks.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/urls.py
Labels: enhancement

#4892 Fix broken "Two scoops of django" link in FAQ
  docs/faq.rst
Labels: docs

#4889 Fix permissions for media files when served by nginx
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
Labels: bug
