Repository cookiecutter/cookiecutter-django, pull requests merged in 2024-03, with the labels that each got.

#4905 Fix fully qualified docker images
  {{cookiecutter.project_slug}}/compose/local/django/Dockerfile
  {{cookiecutter.project_slug}}/compose/local/docs/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
Labels: bug

#4909 Split the docs from local.yml and build the service in CI
  docs/developing-locally-docker.rst
  tests/test_docker.sh
  {{cookiecutter.project_slug}}/.drone.yml
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
  {{cookiecutter.project_slug}}/.gitlab-ci.yml
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/docs.yml
  {{cookiecutter.project_slug}}/local.yml
Labels: enhancement

#4947 Update mentions of psycopg in comments
  {{cookiecutter.project_slug}}/compose/local/django/Dockerfile
  {{cookiecutter.project_slug}}/compose/local/docs/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
  {{cookiecutter.project_slug}}/utility/requirements-bionic.apt
  {{cookiecutter.project_slug}}/utility/requirements-bookworm.apt
  {{cookiecutter.project_slug}}/utility/requirements-bullseye.apt
  {{cookiecutter.project_slug}}/utility/requirements-buster.apt
  {{cookiecutter.project_slug}}/utility/requirements-focal.apt
  {{cookiecutter.project_slug}}/utility/requirements-jammy.apt
  {{cookiecutter.project_slug}}/utility/requirements-jessie.apt
  {{cookiecutter.project_slug}}/utility/requirements-stretch.apt
  {{cookiecutter.project_slug}}/utility/requirements-trusty.apt
  {{cookiecutter.project_slug}}/utility/requirements-xenial.apt
Labels: docs

#4944 Add instruction for adding a django app
  docs/developing-locally.rst
Labels: docs
