Repository cookiecutter/cookiecutter-django, pull requests merged in 2024-09, with the labels that each got.

#5335 Pin watchdog to 4.0.2
  {{cookiecutter.project_slug}}/requirements/local.txt
Labels: bug

#5351 Merge setup.py in pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/update_changelog.py
  setup.py
Labels: project infrastructure

#5355 Remove empty setup.py and references to it
  scripts/update_changelog.py
  setup.py
  tox.ini
Labels: project infrastructure

#5383 Update postgres plan in Heroku deployment docs
  docs/deployment-on-heroku.rst
Labels: docs
