Repository cookiecutter/cookiecutter-django, pull requests merged in 2025-09, with the labels that each got.

#6003 Update PythonAnywhere deployment page
  docs/3-deployment/deployment-on-pythonanywhere.rst
Labels: docs

#6012 Upgrade actions/setup-python to v6 in template
  {{cookiecutter.project_slug}}/.github/workflows/ci.yml
Labels: update

#6020 Fix ResourceWarning for unclosed files in test_cookiecutter_generation.py
  tests/test_cookiecutter_generation.py
Labels: project infrastructure

#6019 Remove mentions of `pip` and `virtualenv` in the `install_python_dependencies.sh` utility script
  {{cookiecutter.project_slug}}/utility/install_python_dependencies.sh
Labels: bug

#6067 Upgrade to Python 3.13
  .github/workflows/ci.yml
  .github/workflows/pre-commit-autoupdate.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  CONTRIBUTING.md
  README.md
  docs/3-deployment/deployment-on-pythonanywhere.rst
  pyproject.toml
  tox.ini
  uv.lock
  {{cookiecutter.project_slug}}/.drone.yml
  {{cookiecutter.project_slug}}/.gitlab-ci.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.python-version
  {{cookiecutter.project_slug}}/.readthedocs.yml
  {{cookiecutter.project_slug}}/.travis.yml
  {{cookiecutter.project_slug}}/compose/local/django/Dockerfile
  {{cookiecutter.project_slug}}/compose/local/docs/Dockerfile
  {{cookiecutter.project_slug}}/compose/local/uv/Dockerfile
  {{cookiecutter.project_slug}}/compose/production/django/Dockerfile
  {{cookiecutter.project_slug}}/config/settings/local.py
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/uv.lock
Labels: update
