Repository cookiecutter/cookiecutter-django, pull requests merged in 2025-01, with the labels that each got.

#5621 Add justfile for use with docker
  docs/2-local-development/developing-locally-docker.rst
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/justfile
Labels: enhancement

#5614 Drop support for Python 2 in template generation hooks
  hooks/post_gen_project.py
  hooks/pre_gen_project.py
Labels: enhancement

#5615 Group all API tests under a `tests.api` namespace
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/api/__init__.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/api/test_openapi.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/api/test_urls.py
  {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/users/tests/api/test_views.py
Labels: enhancement

#5649 Migrate test generation to pathlib
  tests/test_cookiecutter_generation.py
Labels: project infrastructure

#5648 Migrate post-generation hook to pathlib
  hooks/post_gen_project.py
Labels: enhancement

#5656 Update Heroku deployment guide
  docs/3-deployment/deployment-on-heroku.rst
Labels: docs
